body {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

h1 {
  text-transform: capitalize;
  font-size: 21px;
  margin-bottom: 0;
}

.container {
  max-width: fit-content;
  padding: 30px;
  margin: 10px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/090/703/large_2x/the-blue-sky-in-summer-day-blue-sky-white-clouds-white-clouds-background-nature-weather-of-clear-sky-free-photo.jpg");
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.33);
  color: #fff;
  overflow: hidden;
  position: relative;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  width: max-content;
  display: inline-flex;
}

.card-heading {
  margin-top: -20px;
  background: transparent;
  transition: all 200ms ease-in-out;
}
.card {
  border: transparent;
}
.card-heading-body {
  text-align: left;
  line-height: 1.5;
  padding: 0;
  margin-left: 15px;
}

.card-form {
  background: none;
}

#location-icon {
  font-size: 11px;
  margin: 0 10px;
}

.col-2:hover {
  cursor: pointer;
  background: transparent;
  transform: scale(1.1);
  background: #fbfbfda5;
}
.card-heading:hover {
  font-size: larger;
  background: #fbfbfda5;
}
.temp {
  font-size: 48px;
  font-family: arial, sans-serif;
}
#weather {
  font-weight: bolder;
  font-size: 16px;
  text-transform: capitalize;
}
.humidity,
.wind,
.est_temp {
  font-size: 14px;
  font-family: arial, sans-serif;
}

#search-tab {
  margin-top: 1px;
  float: left;
}

#button-submit {
  padding: 5px 15px;

  background-color: #3f66da;
  border-radius: 17px;
  font-family: arial sans-serif;
  color: #fff;
}

#search-bar {
  background-color: white;

  font-family: arial sans-serif;
}

.col-2 {
  margin: 3px;
  width: fit-content;
  border-radius: 5px;
  border: transparent;
  background: #e8edf962;
  transition: -webkit-transform 0ms ease-in-out 0s;
}
.row {
  margin: -10px 2px 5px;
  color: black;
  font-size: 12;
  font-family: Arial, Helvetica, sans-serif;
}
.degree {
  font-size: 15px;
  position: relative;
  bottom: 32px;
  font-family: arial, sans-serif;
}
#fahrenheit,
#celsius {
  text-decoration: none;
  color: black;
}
#col-temp {
  width: 400px;
}
#col-cf {
  margin-right: 20px;
}
#col-pre {
  line-height: 1px;
  margin: 20px 0;
}
.mb-3 {
  margin-bottom: 0;
}
