body {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  margin-left: 5px;
}

h1 {
  text-transform: capitalize;
  font-size: 21px;
  margin-bottom: 0;
}

.container {
  max-width: fit-content;
  padding: 30px;
  margin: 10px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/090/703/large_2x/the-blue-sky-in-summer-day-blue-sky-white-clouds-white-clouds-background-nature-weather-of-clear-sky-free-photo.jpg");
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.33);
  color: #fff;
  overflow: hidden;
  position: relative;
  background-position-y: bottom;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  width: max-content;
  display: inline-flex;
}

.card-heading {
  margin-top: -20px;
  background: transparent;
  transition: all 200ms ease-in-out;
}
.card {
  border: transparent;
}
.card-heading-body {
  text-align: left;
  line-height: 1.5;
  padding: 0;
  margin-left: 15px;
}

.card-form {
  background: none;
}

.col-2 {
  margin: 3px;
  width: fit-content;
  border-radius: 5px;
  border: transparent;
  background: #7aaccf70;
  transition: -webkit-transform 0ms ease-in-out 0s;
}
.col-2:hover {
  cursor: pointer;
  background: transparent;
  transform: scale(1.1);
  background: #7aaccfb5;
}
.card-heading:hover {
  font-size: larger;
  background: #3e97cf6f;
}
.temp {
  font-size: 48px;
  font-family: arial, sans-serif;
}
#weather {
  font-weight: bolder;
  font-size: 16px;
  text-transform: capitalize;
}
.humidity,
.wind,
.est_temp {
  font-size: 14px;
  font-family: arial, sans-serif;
}

#search-bar {
  padding: 0 80px 0 7px;
}
#search-button {
  background-color: #0b5ed7;
  border: transparent;
}
#location-button {
  background-color: black;
  border: transparent;
}

#search-button:hover {
  background-color: #6390d4;
}
#location-button:hover {
  background-color: #6c757d;
}
.fa-solid {
  color: white;
  font-size: 14px;
}

.row {
  margin: -10px 2px 5px;
  color: black;
  font-size: 12;
  font-family: Arial, Helvetica, sans-serif;
}
.degree {
  font-size: 15px;
  position: relative;
  bottom: 32px;
  font-family: arial, sans-serif;
}

#fahrenheit {
  text-decoration: none;
  color: black;
}
#col-temp {
  width: 400px;
}
#col-temp-degree {
  margin-right: 20px;
}
#col-temp-variable {
  line-height: 1px;
  margin: 20px 0;
}
.mb-3 {
  margin-bottom: 0;
}
.forecast-temperature {
  font-size: 12px;
}
@media (max-width: 600px) {
  #col-temp-variable {
    margin-right: 35px;
  }
  .container {
    margin: 0;
    border-radius: 0;
  }
  .body {
    margin-left: 0;
  }
}
